html, body {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 10pt;
}

.tittle{
	font-size: 12pt;
}

#tableTemas{
	border-spacing: 1px;
	width: 400px;
}


tr:nth-child(even){
	background-color: #C3D7F7;
}

tr:nth-child(odd){
	background-color: #88B1F2;
}

#theadTemas{
	color:#5B5555;
	font-weight: bold;
	margin-bottom: 2px;	
}

.link{
	color: #285194;
    font-weight: bold;
}