html,body { height: 100%; margin: 0px; padding: 0px; }

.wrapper{height: 100%;}
.highlight{
  color: #00dddf !important;
}

.dropdown-menu{
  background-color: #313131;
}

.main-menu .nav .dropdown-menu li{
  padding: 0px 30px;
}
.main-menu .nav .dropdown-menu li a{
  padding: 10px 0 10px;
}
.about-us{
  background: none;
  min-height: 1px !important;
  height: 100% ;
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoContainer iframe{
  width: 100%;
  height: 100%;
}

.about-us-content{
  margin-top: 0px;
}


.filtr-item{
  max-height: 250px;
  width: 100%;
  position: relative;
}

.filtr-container .filtr-item:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 1;
}
.filtr-container .filtr-item .item-title{
  z-index: 2;
}

.subscribe-title h2,
.single-tab-select-box h2{
  text-transform: none!important;
}

.appsLand-btn{
  margin-top: 20px;
}


.headerImage{
  background-position: center;
  background-size: cover;
  max-height: 400px;
}
.headerImage.reykjavik{
  background-image: url('../images/gallery/g1.jpg');
  background-size: cover;
}
.headerImage.reykjavik:before{
  background: rgba(223, 0, 110,0.45);
}
.headerImage.fiordos{
  background-image: url('../images/gallery/g3.jpg');
}
.headerImage.fiordos:before{
  background: rgba(223, 114, 0, 0.35);
}
.headerImage.oeste{
  background-image: url('../images/gallery/g2.jpg');
}
.headerImage.oeste:before{
  background: rgba(0, 110, 223,0.5);
}
.headerImage.sur{
  background-image: url('../images/gallery/g5.jpg');
}
.headerImage.sur:before{
  background: rgba(	0, 223, 114,0.35);
}
.headerImage.reikianes{
  background-image: url('../images/gallery/g6.jpg');
}
.headerImage.reikianes:before{
  background: rgba();
}
.headerImage.norte{
  background-image: url('../images/gallery/g4.jpg');
}
.headerImage.norte:before{
  background: rgba();
}
.headerImage.cuestionario{
  max-height: 500px;
  background-image: url('../images/gallery/g3.jpg');
}

.headerImage.cuestionario:before{
  background: rgba(255,128,0,0.5);
}
.cuestionario .single-travel-boxes{
  padding: 20px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

}

.centeredLined{
  text-align: center;
}
.centeredLined h2{
  display: inline-block;
  padding: 10px;
  border-top: 7px solid #FFF;
  border-bottom: 7px solid #FFF;
}


.cuestionario input {
    color: #aaa;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    height: 48px;
    border-radius: 0px;
    box-shadow: none;
    border-color: rgb(215, 215, 215);
  }

.divider{
  height: 1px;
  /* background-color: #00dddf;*/
  border: 1px solid #00dddf;
  /* border-style:  */
  width: 100%;
  margin: 20px 0px;
}

.cuestionario label{
  color: #565a5c;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}
.service{
  padding: 80px 0 20px;
}
.service-img{
  max-width: 100px;
}
