html,body { height: 100%; margin: 0px; padding: 0px; }

.wrapper{height: 100%;}
.highlight{
  color: #00dddf !important;
}

.about-us{
  background: none;
  min-height: 1px !important;
  height: 100% ;
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videoContainer iframe{
  width: 100%;
  height: 100%;
}

.about-us-content{
  margin-top: 0px;
}


.filtr-item{
  max-height: 250px;
  width: 100%;
  position: relative;
}

.filtr-container .filtr-item:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 1;
}
.filtr-container .filtr-item .item-title{
  z-index: 2;
}

.subscribe-title h2{
  text-transform: none!important;
}

.appsLand-btn{
  margin-top: 20px;
}


.headerImage{
  background-position: center;
  background-size: cover;
  max-height: 400px;
}
.headerImage.reykjavik{
  background-image: url('../images/gallery/g1.jpg');
}
.headerImage.cuestionario{
  max-height: 500px;
  background-image: url('../images/gallery/g3.jpg');
}

.headerImage.cuestionario:before{
  background: rgba(255,128,0,0.5);
}
.cuestionario .single-travel-boxes{
  padding: 20px 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);

}

.centeredLined{
  text-align: center;
}
.centeredLined h2{
  display: inline-block;
  padding: 10px;
  border-top: 7px solid #FFF;
  border-bottom: 7px solid #FFF;
}
